Shypoke.v12.suo
Shypoke/bin/Debug/Shypoke.exe
Shypoke/bin/Debug/Shypoke.pdb
Shypoke/HandAnalysis.cs~RF595eaa29.TMP
*.cache
Shypoke_TDD/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Shypoke/obj/Debug/Shypoke.pdb
Shypoke_TDD/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Shypoke/HandAnalysis.cs~RF595e438a.TMP
*.exe
Shypoke_TDD/bin/Debug/Shypoke.pdb
Shypoke_TDD/bin/Debug/Shypoke_TDD.dll
*.pdb
Shypoke_TDD/obj/Debug/Shypoke_TDD.csproj.FileListAbsolute.txt
Shypoke_TDD/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Shypoke_TDD/obj/Debug/Shypoke_TDD.dll
Shypoke_TDD/obj/Debug/Shypoke_TDD.dll
Shypoke/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Shypoke_TDD/obj/Debug/Shypoke_TDD.dll
Shypoke_TDD/obj/Debug/Shypoke_TDD.dll
Shypoke/obj/Debug/Shypoke.csproj.FileListAbsolute.txt
.vs/Shypoke/v14/.suo
Shypoke/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
Shypoke_TDD/obj/Debug/Shypoke_TDD.dll
Shypoke.sln
*.xml